.webcam {
    transition: all .2s;
}

.therapist__webcam>video {
    transform: translateX(-30px);
}

.therapist__webcam {
    overflow: hidden;
    border-radius: 12px;
    height: 180px;
}

@media screen and (min-width: 1440px) {
    .therapist__webcam {
        height: 260px;
    }
}

.gamef__person-teacher {
    width: 300px;
    position: fixed;
    top: 8px;
    right: 8px;
    box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.55);
    z-index: 900;
}

.gamef__person-teacher .zoom {
    transform: scale(2.7);
    transform-origin: top right;
    border-radius: 5px;
}

.gamef__person-teacher .zoom .gamef__person-name {
    transform: scale(0.37) translate(-14px, 54px);
    transform-origin: top left;
}

.gamef__person-child {
    width: 250px;
    margin: 0 10px;
}

.gamef__person-child .gamef__person-in #jitsi-iframe {
    transform: translateY(-35px);
}

@media screen and (min-width: 1600px) {
    .gamef__person-child {
        margin: 0 50px;
    }
}

@media screen and (min-width: 1440px) {
    .gamef__person-child .gamef__person-in #jitsi-iframe {
        transform: none;
    }
    .gamef__person-child .gamef__person-in {
        transform: none;
    }
    .gamef__person-child {
        width: 400px;
        margin: 0 30px;
    }
}

.gamef__person-in {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.gamef__person-child .zoom {
    transform: scale(2.3);
    transform-origin: top center;
    border-radius: 8px;
}



.gamef__person-child .zoom .gamef__person-name {
    transform: scale(0.43) translate(-10px, 44px);
    transform-origin: top left;
}

.gamef__person-btn {
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.65);
    padding: 0;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    line-height: 22px;
    color: #fff;
}

.gamef__person-child .zoom .gamef__person-btn {
    transform: scale(0.43) translate(10px, 44px);
    transform-origin: top right;
}

@media screen and (min-width: 1440px) {
    .gamef__person-child .zoom {
        transform: scale(2.3) translateX(-40px);
    }
}

.dragBlock {
    cursor: row-resize;
}

.zoomBtn {
    position: absolute;
    z-index: 999999999 !important;
    right: 10px;
    bottom: 10px;
}

.soundBtn {
    position: absolute;
    z-index: 99999999999 !important;
    top: 10px;
    left: 40px;
}

.soundBtn img {
    transform: scale(.7);
}

.btnInZoom {
    transform: scale(2.7);
    border-radius: 5px;
}

.gamef__person-btn {
    transform: scale(1) translate(0, 0) !important;
    transform-origin: unset !important;
}

.webcamZoom {
    transform: scale(1.8);
    transform-origin: top center;
    border-radius: 8px;
    z-index: 10;
}

.frontWebcamBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999 !important;
    top: 0;
    left: 0;
}