.gameListItem {
    cursor: pointer;
}

.activeGame {
    color: #6a7989;
}

.gameActionButton {
    transition: transform .01s;
}

.gameActionButton:active {
    transform: scale(.9);
}

.finishLessonArea {
    cursor: pointer;
}

.action-btn-control {
    width: 70px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #FF6B00;;
    border: none;
    padding: 0;
    position: relative;
    border-radius: 40px;
    font-size: 12px;
}

.action-btn-control:before {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0px;
    margin: auto 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
    background: no-repeat url("../../../assets/img/action-left.png");
    background-size: contain;
}

.send-btn-control {
    width: 70px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #FF6B00;;
    border: none;
    padding: 0;
    position: relative;
    border-radius: 40px;
    font-size: 12px;
}

.send-btn-control:before {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
    background: no-repeat url("../../../assets/img/action-right.png");
    background-size: contain;
}
