.protocol {
  max-width: 500px;
  padding: 24px;
  color: #000;
  font-family: 'Nunito', sans-serif;
  background: #fff;
  margin: 0 auto;
}

.protocol__block {
  margin-bottom: 32px;
}

.protocol__row {
  margin-bottom: 24px;
}

.protocol__row_flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.protocol__col:first-child {
  padding-right: 1px;
  width: 64%;
}
.protocol__col:first-child.w50 {
  width: 50%;
}

.protocol__col:last-child {
  padding-left: 1px;
  width: 36%;
}
.protocol__col:last-child.w50 {
  width: 50%;
}

.protocol__box {
  margin: 0 0 32px;
}

.protocol__person {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 8px;
}

.protocol__person-descr {
  line-height: 1.25;
  color: #3f3f3f;
  font-weight: 600;
  margin: 0 0 20px;
}

.protocol__title {
  margin: 0 0 24px;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.011em;
}

.protocol__title-block {
  margin: 0 0 32px;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.36;
}
.protocol__title-block span {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  display: block;
  margin-top: 12px;
}

.protocol__subtitle-block {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.35;
  margin: 0 0 12px;
}

.protocol__sub2title-block {
  font-size: 24px;
  margin: 0 0 12px;
  font-weight: 600;
}

.protocol__sub3title-block {
  font-size: 20px;
  margin: 0 0 16px;
  font-weight: 600;
}

.protocol__title-game {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 12px;
}

.protocol__lbl {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.protocol__col .protocol__lbl {
  white-space: nowrap;
}

.protocol__lbl-wrap {
  display: flex;
  margin-bottom: 10px;
}
.protocol__lbl-wrap.wrap {
  flex-wrap: wrap;
}

.protocol__lbl-wrap .radio2,
.protocol__lbl-wrap .check2 {
  margin: 0 0 4px;
}

.protocol__area,
.protocol__field {
  border: 1px solid rgba(73, 78, 85, 0.3);
  border-radius: 16px;
  resize: none;
  width: 100%;
  padding: 14px 20px;
}

.protocol__area {
  height: 98px;
}
.protocol__area.bg {
  background: rgba(255, 249, 200, 0.3);
}

.protocol__field {
  height: 48px;
}
.protocol__field.bg {
  background: rgba(255, 249, 200, 0.3);
}

.protocol__result-title,
.protocol__box-title,
.protocol__result-lbl,
.protocol__finish-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.protocol__result-title {
  margin: 0 0 20px;
}

.protocol__box-title {
  margin: 0 0 32px;
}

.protocol__result-lbl {
  margin: 0 0 16px;
}

.protocol__finish-title {
  margin: 0 0 12px;
}

.protocol__descr {
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 16px;
}

.protocol__descr-main {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  margin: 0 0 12px;
}

.protocol__result-item {
  margin-bottom: 24px;
}

.protocol__test {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 16px;
}

.protocol__text-test {
  font-weight: 600;
  font-style: italic;
  color: #3f3f3f;
  margin: 0 30px 42px;
}

.protocol__qu-test {
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
}

.protocol__qu {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  margin: 0 0 20px;
  line-height: 1.25;
}

.protocol__box-title + .protocol__qu {
  margin-top: -12px;
}

.protocol__qu_lbl {
  margin-bottom: 8px;
}

.protocol__info {
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 10px;
}

.radio2,
.check2 {
  display: block;
}
.radio2 input[type='radio'],
.check2 input[type='checkbox'] {
  display: none;
}

.radio2 span,
.check2 span {
  color: #3f3f3f;
  display: flex;
}

.radio2 span::before,
.check2 span::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #00a3ff;
  margin: 1px 4px 0 0;
  flex-shrink: 0;
}

.radio2 span::before {
  border-radius: 50%;
}

.radio2 input[type='radio']:checked + span::before {
  background: url(assets/img/ic-circle.svg) 50%/12px no-repeat;
}

.check2 span::before {
  border-radius: 2px;
}

.check2 input[type='checkbox']:checked + span::before {
  background: url(assets/img/ic-check2.svg) 50%/12px no-repeat;
}

.lbl-field {
  margin-left: 4px;
  height: 24px;
  width: 60px;
  border: 1px solid rgba(73, 78, 85, 0.3);
  border-radius: 6px;
  padding: 0 5px;
}
.switch2 {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 38px;
  border-radius: 15px;
  background-color: #e1eaf8;
  padding: 0 2px;
}

.switch2__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch2__input + span {
  display: inline-block;
  font-size: 36px;
  text-align: center;
  line-height: 34px;
  height: 34px;
  width: 46px;
  border-radius: 13px;
}

.switch2__input:checked + span {
  background-color: #fff;
}

.switch2 {
  align-items: end;
}

.switch2__input + span {
  height: 33px;
  width: 47px;
  margin-bottom: 3px;
}

.protocol__submit {
  height: 42px;
  width: 452px;
  color: white;
  border-radius: 12px;
  padding: 9px 22px 9px 22px;
  background-color: #ff622f;
  border: none;
  font-family: inherit;
  font-weight: 800;
}
