.gamef__remark {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 24px;
}

.gamef__remark-title {
    font-size: 24px;
    color: #000;
    margin: 0 0 12px;
}

.gamef__remark-area {
    flex-grow: 1;
    paddding: 10px;
    border: 1px solid rgba(73, 78, 75, 0.3);
    border-radius: 16px;
    margin-bottom: 12px;
    resize: none;
}

.gamef__remark-note {
    color: rgba(0, 0, 0, 0.3);
    line-height: 1.25;
}