.gameItem {
    width: 180px;
    height: 100px;
    cursor: pointer;
}

.gameItem:hover {
    transform: scale(1.1);
}

.zoomBtn {
    position: absolute;
    z-index: 99999999999 !important;
    top: 10px;
    left: 10px;
}