.debug--border {
    border: 2px red solid;
}

.gamef {
    height: 100vh;
    min-width: 1024px;
    background: #000;
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 34.7%);
    grid-template-rows: auto 1fr minmax(49px, auto);
}

@media screen and (min-width: 1400px) {
    .gamef {
        grid-template-columns: 1fr 500px;
    }
}

.gamef__head {
    padding: 8px 12px 18px;
    color: #fff;
    grid-row: 1/2;
    position: relative;
    z-index: 300;
}

.gamef__head_child {
    grid-column: 1/3;
}

.gamef__head_teacher {
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gamef__work-space-in {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gamef__head_teacher .gamef__time {
    position: absolute;
    z-index: 999999999;
    font-size: 23px;
    width: 100%;
    left: 15px;
}

.gamef__head_teacher .gamef__time.warning {
    color: red;
}

@media screen and (min-width: 1400px) {
    .gamef__head_teacher .gamef__time {
        width: auto;
    }
}

.gamef__main {
    grid-row: 2/3;
    grid-column: 1/2;
}

.gamef__main_full {
    grid-column: 1/3;
}

.gamef__work-space {
    width: 100%;
    height: 100%;
}

.gamef__footer {
    padding: 9px 0;
    grid-row: 4/4;
    grid-column: 1/2;
    z-index: 15;
    background: #000;
    border-top: 2px solid #ffffff33;
}

.gamef__footer_full {
    grid-column: 1/3;
}

.gamef__previews-wrap {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100%;
    background: #000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    transition: .5s all;
}

.gamef__previews {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
}

.gamef__previews-inner {
    position: absolute;
    display: flex;
    width: 5000px;
    z-index: 10;
    overflow: hidden;
    transform: translateY(-95px);
    background: #000;
    transition: .5s;
}
.hide.gamef__previews-inner {
    transform: translateY(10px);

}

.gamef__under-carousel {
    background: #000;
    text-align: center;
    margin-bottom: -5px;
    z-index: 15;
}

.gamef__preview {
    border: none;
    background: transparent;
    overflow: visible !important;
    position: relative;
}

.gamef__preview-img {
    display: block;
    position: relative;
    opacity: 35%;
    z-index: 20;
}

.gamef__preview-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 30;
    font-size: 12px;
    color: #fff;
}

.gamef__preview-info span {
    display: block;
    padding-bottom: 2px;
}

.gamef__preview-info p {
    font-weight: 800;
    margin: 0;
}

.active .gamef__preview-info {
    display: none;
}

.gamef__preview-next,
.gamef__preview-prev {
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 100;
}

.gamef__preview-next::before,
.gamef__preview-prev::before {
    font-family: 'icomoon' !important;
    speak: never;
}

.gamef__preview-next {
    right: 8px;
}

.gamef__preview-next::before {
    content: '\e901';
}

.gamef__preview-prev {
    left: 8px;
}

.gamef__preview-prev::before {
    content: '\e900';
}

.gamef__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}
.gamef__controls>div {
    display: flex;
    align-items: center;
}

.gamef__hide-carousel,
.gamef__pause,
.gamef__start,
.gamef__restart,
.gamef__microphone,
.gamef__microphone_muted,
.gamef__prev,
.gamef__next,
.gamef__finish,
.gamef__get-control,
.gamef__question,
.gamef__arrow-right,
.gamef__arrow-left,
.gamef__repeat-sound,
.gamef__music,
.gamef__volume {
    padding: 9px 16px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
    font-weight: 800;
}

.gamef__pause,
.gamef__start,
.gamef__restart,
.gamef__microphone,
.gamef__microphone_muted,
.gamef__get-control,
.gamef__question,
.gamef__arrow-right,
.gamef__arrow-left,
.gamef__repeat-sound,
.gamef__music,
.gamef__volume {
    width: 42px;
    height: 42px;
    margin-right: 8px;
}

.gamef__hide-carousel {
    background: rgba(0,0,0,.65) !important;
    border: none;
}

.divider.horizontal {
    border-left: 2px solid #FFFFFF33;
    height: 45px;
}

.gamef__hide-carousel:before {
    content: url(../../assets/img/arrow-down-filled.svg);
    display: inline-block;
    margin-right: 10px;
    transition: .3s;
}
.hide.gamef__hide-carousel:before {
    transform: rotate(180deg);
}

.gamef__pause {
    background: url(../../assets/img/ic-pause.svg) 50% no-repeat;
}
.gamef__get-control {
    background: url(../../assets/img/ic-get-control.svg) 50% no-repeat;
}
.gamef__restart {
    background: url(../../assets/img/ic-restart.svg) 50% no-repeat;
}
.gamef__start {
    background: url(../../assets/img/ic-start.svg) 50% no-repeat;
}
.gamef__get-control.active {
    background: white url(../../assets/img/ic-get-control-active.svg) 50% no-repeat;
}
.gamef__microphone_muted {
    background: url(../../assets/img/ic-microph.svg) 50% no-repeat !important;
}
.gamef__microphone {
    background: url(../../assets/img/ic-unmuted-mic.svg) 50% no-repeat !important;
}

.gamef__volume {
    background: url(../../assets/img/lesson-volume.svg) 50% no-repeat !important;
}
.gamef__music {
    background: url(../../assets/img/lesson-music.svg) 50% no-repeat !important;
}
.gamef__repeat-sound {
    background: url(../../assets/img/repeat-sound.svg) 50% no-repeat !important;
}
.gamef__arrow-left {
    background: url(../../assets/img/lesson-arrow-left.svg) 50% no-repeat !important;
}
.gamef__arrow-right {
    background: url(../../assets/img/lesson-arrow-right.svg) 50% no-repeat !important;
}
.gamef__question {
    background: url(../../assets/img/question.svg) 50% no-repeat !important;
}


.gamef__sidebar {
    grid-row: 1/5;
    grid-column: 2/3;
    background: #fff;
    z-index: 25;
}

.gamef__sidebar-in {
    height: 100%;
    position: relative;
    overflow: scroll;
}

.gamef__sidebar-in > form {
    height: 100%;
}

.gameItem {
    min-width: 170px !important;
    max-width: 170px !important;
    height: 100px !important;
    cursor: pointer;
    overflow: hidden !important;

    padding: 0;
    border: 4px solid transparent;
}
.active.gameItem {
    opacity: 1;
    border-color: #fff;
}

.gameItem:hover {
    /*transform: scale(1.1);*/
}

.check-game-button_active {
    position: relative;
    width: 42px;
    height: 42px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: white solid;
    border-width: 2px 0 2px 2px;
    background: #fff;
}

.check-game-button__active::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto 0;
    width: 24px;
    height: 18px;
    cursor: pointer;
    background: no-repeat url('../../assets/img/black-check-button.png');
    background-size: contain;
}

.check-game-button_inactive {
    position: relative;
    width: 42px;
    height: 42px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: white solid;
    border-width: 2px 0 2px 2px;
    background: #000;
}

.check-game-button__inactive::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto 0;
    width: 24px;
    height: 18px;
    cursor: pointer;
    background: no-repeat url('../../assets/img/white-check-button.png');
    background-size: contain;
}

.play-game-button_active {
    margin-right: 8px;
    position: relative;
    width: 42px;
    height: 42px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: white solid;
    border-width: 2px 2px 2px 0;
    background: #fff;
}

.play-game-button__active::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto 0;
    width: 24px;
    height: 18px;
    cursor: pointer;
    background: no-repeat url('../../assets/img/black-play-button.png');
    background-size: contain;
}

.play-game-button_inactive {
    position: relative;
    margin-right: 8px;
    width: 42px;
    height: 42px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: white solid;
    border-width: 2px 2px 2px 0;
    background: #000;
}

.play-game-button__inactive::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto 0;
    width: 24px;
    height: 18px;
    cursor: pointer;
    background: no-repeat url('../../assets/img/white-play-button.png');
    background-size: contain;
}

.gamesLitsScrollbar {
    overflow-x: scroll !important;
}

.gamesLitsScrollbar::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}


/* Track */

.gamesLitsScrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

.gamesLitsScrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.gamef__prev {
    margin-right: 8px !important;
}