.speech-card {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #a3b3cc;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
  padding: 15px 18px;
  margin-bottom: 24px;
  flex-grow: 1;
}
.speech-card__wrap {
  height: 100%;
  overflow: hidden;
}
.speech-card__title {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 16px;
}
.speech-card__title.mb-sm {
  margin-bottom: 6px;
}
.speech-card__sub-title {
  font-weight: 700;
  margin: 18px 0 8px;
}
.speech-card__sub-title-add {
  font-weight: 700;
  margin: 18px 0 8px;
}
.speech-card__text {
  margin: 0 0 12px;
}
.speech-card__top {
  border-bottom: 1px dotted #a3b3cc;
  padding-bottom: 11px;
  margin-bottom: 16px;
  position: relative;
}
.speech-card__date {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}
.speech-card__section,
.speech-card__item {
  margin-bottom: 23px;
}
.speech-card__sounds {
  margin: 0 0 32px;
}
.speech-card__tbl {
  margin: 32px 0;
}
.speech-card__tbl td,
.speech-card__tbl th {
  width: 24px;
  height: 24px;
  text-align: center;
  font-weight: 400;
  border: 1px solid #e5e5e5;
}
@media screen and (min-width: 1024px) {
  .speech-card__tbl td,
  .speech-card__tbl th {
    width: 29px;
    height: 29px;
  }
}

.speech-card__tbl-descr {
  color: #a3b3cc;
  margin: -20px 0 24px;
}

.speech-card-form {
  color: #000;
  font-family: 'Nunito', sans-serif;
  background: #fff;
  border-right: 1px solid #c8cacc;
  padding: 24px 30px 24px 171px;
  line-height: 1.25;
}
@media screen and (min-width: 1400px) {
  .speech-card-form {
    padding-left: 30px;
  }
}

.speach-card-form__timer {
  font-size: 12px;
  line-height: 1.33;
  max-width: 120px;
  position: fixed;
  top: 8px;
  left: 12px;
}

.speech-card-form__section {
  max-width: 600px;
}
@media screen and (min-width: 1400px) {
  .speech-card-form__section {
    margin: 0 auto;
  }
}

.speech-card-form__block {
  margin: 0 0 40px;
}

.speech-card-form__title {
  font-size: 32px;
  margin: 0 0 11px;
  line-height: 1.357;
  font-weight: 700;
}

.speech-card-form__date {
  margin: 0 0 39px;
  font-weight: 600;
}

.speech-card-form__title-block {
  margin: 0 0 12px;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.36;
}

.speech-card-form__box {
  margin: 0 0 32px;
}

.speech-card-form__title-box {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.speech-card-form__row {
  margin: 0 0 24px;
}

.speech-card-form__lbl {
  display: block;
  font-weight: 700;
  margin: 0 0 8px;
}

.speech-card-form__field,
.speech-card-form__area {
  border: 1px solid rgba(73, 78, 85, 0.3);
  border-radius: 16px;
  resize: none;
  width: 100%;
  padding: 14px 20px;
}

.speech-card-form__field {
  height: 48px;
}

.speech-card-form__area {
  height: 98px;
}

.speech-card-form__area_sm {
  height: 68px;
}

.speech-card-form__area_md {
  height: 128px;
}

.speech-card-form__area_md2 {
  height: 168px;
}

.speech-card-form__area_big {
  height: 298px;
}

.speech-card-form__area_big2 {
  height: 228px;
}

.speech-card-form__area_bigX {
  height: 748px;
}

.speech-card-form__line {
  border: none;
  height: 1px;
  background: #c8cacc;
  margin: 60px -30px 40px -171px;
}

.speech-card-form__sign-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 12px;
}

.speech-card-form__sign-info {
  font-weight: 700;
  margin: 0 0 12px;
}

.btn2 {
  width: 100%;
  height: 42px;
  color: #fff;
  background: #ff622f;
  border: none;
  border-radius: 12px;
  white-space: nowrap;
  line-height: 1;
  font-size: 16px;
  font-weight: 800;
}

.speech-card-form__btn {
  margin-top: -16px;
}
