.blockDate {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.dateItemDate {
    padding: 10px 0 10px 0;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 6px;
}

.dateItemDateActive {
    background: #00CAD7;
    color: #fff;
}

.dateItemDate:hover {
    background: #00CAD7;
    color: #fff;
}