.form2__btn-close {
    padding: 0;
    top: -1px;
    right: -11px;
    margin-top: -20px !important;
    margin-right: -16px !important;
}

.btn2 {
    width: 100% !important;
    height: 42px !important;
    color: #fff !important;
    background: #FF622F !important;
    border: none !important;
    border-radius: 12px !important;
    white-space: nowrap !important;
    line-height: 1 !important;
    font-size: 16px !important;
    font-weight: 800 !important;
}