.speech-card-doc__head {
    position: relative;
    z-index: 10;
    font-size: 10px;
    line-height: 1.4;
    padding-top: 43.86%;
    background: url(../../assets/img/head2.svg) 50% 0/100% auto no-repeat;
}

.speech-card-doc__head-logo {
    z-index: 11;
    position: absolute;
    top: 54px;
    left: 54px;
    width: 25vw;
}
