.mainLessonWindow {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-wrap: nowrap!important;
}

.lessonSidebar {
    width:  calc(100% / 12 * 4) !important;
    transition: all .3s;
}

.wideSidebar {
    width: 45%!important;
}

.gameMainShort {
    width: 55%!important;
}