.mainLessonWindow {
    flex-wrap: nowrap!important;
}

.lessonSidebar {
    /*width:  calc(100% / 12 * 4) !important;*/
    transition: all .3s;
}

.wideSidebar {
    width: 35%!important;
}

.gameMainShort {
    width: 65%!important;
}