@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon/fonts/icomoon.eot?itn2ph');
    src: url('./assets/fonts/icomoon/fonts/icomoon.eot?itn2ph#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon/fonts/icomoon.ttf?itn2ph') format('truetype'),
    url('./assets/fonts/icomoon/fonts/icomoon.woff?itn2ph') format('woff'),
    url('./assets/fonts/icomoon/fonts/icomoon.svg?itn2ph#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

h5,
h4,
h3 {
    font-weight: bold;
}

.btn-out {
    margin-right: 28px;
}

.btn-eye__wrap::before {
    content: '';
    position: absolute;
    top: 47px;
    bottom: 0;
    right: 20px;
    margin: auto 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: no-repeat url('assets/img/eye.svg');
    background-size: contain;
}

.cabinet__info dt {
    font-weight: 300;
}

.tab span {
    color: #000000;
}

.payment__info {
    width: 100%;
}

.scrollbar-hidden {
    overflow-x: scroll;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.country_field {
    width: 150% !important;
}

.timeslot__body {
    text-align: center;
}

.form__link-wrap {
    display: flex;
    align-items: center;
}

.calendar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-big__btns {
    margin: 0;
}

.form__label {
    display: flex;
    flex-direction: column;
    margin: 10px 0 8px 0;
}

.form__label textarea,
.form__label input {
    margin: 8px 0;
}

.dates__field {
    width: 196px;
}

.notifications__clear {
    margin-right: 28px;
}

.chars_input {
    color: #a3b3cc;
    margin-left: 11px;
}

.textarea_content {
    width: 658px;
}

.scroll_down_btn {
    height: 40px;
    width: 40px;
    background: url(assets/img/scroll_down_arrow_icon.png);
    border: none;
    background-size: 100%;
    background-size: 100%;
    position: fixed;
    right: 20px;
    top: 22px;
}

.customScrollbar {
    overflow-x: scroll !important;
}

.customScrollbar::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}


/* Track */

.customScrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */

.customScrollbar::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
}

.disabled {
    opacity: .5;
}

/* Tooltips */

.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #A3B3CC !important;
}
.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #A3B3CC !important;
}
.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #A3B3CC !important;
}
.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #A3B3CC !important;
}

.tooltip-inner {
    background-color: #A3B3CC !important;
}

/* Child's profile notification block */

.info-item--separate-block .notice {
    width: 100%;
}

.info-item--separate-block .notice .notice__info {
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}

@media screen and (min-width: 1400px) {
    .info-item--separate-block .notice {
        width: 70%;
    }

    .info-item--separate-block .info-item__btn {
        margin: unset;
    }
}

.protocol__col:first-child.w50 {
    width: 81%;
}

.protocol__col:first-child {
    padding-right: 2px;
}

.protocol__qu-test {
    max-width: 267px;
}

.switch2 {
    width: 112px;
}

.error {
    color: #F35454 !important;
}

.speach-card-doc__bottom-in {
    margin-top: 20px;
}

.main__date {
    padding-right: 94px;
}